<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ReservaTec</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
    <h1>Welcome</h1>
    <p>Go to profile! <a href="/user/profile" class="btn btn-primary">Inicio</a> to continue.</p>
    <a href="/reserva/nueva" class="btn btn-primary">Realizar una nueva reserva</a>
    <a href="/reserva/misreservas" class="btn btn-secondary">Ver mis reservas</a>
</div>
</body>
</html>
